.appbar {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: #000000;
  color: white;
  padding: 10px;
  position: fixed;
  top: 0;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  /* row-gap: 30px; */
  z-index: 20;
  height: 60px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  /* flex-basis: 340px; */
  gap: 20px;
  flex: 0 0 auto;
  margin-right: 30px;
}
.logo img {
  /* max-width: 100px; */
  width: 150px;
}

.logo h1 {
  font-size: 1.5rem;
}

.search {
  /* flex: 1; */
  display: flex;
  /* row-gap: 30px; */
  align-items: center;
  /* min-width: 50px; */
  flex-basis: 500px;
  justify-content: flex-end;
  flex: intial;
  gap: 10px;
}

.search input {
  /* width: 100%; */
  /* max-width: 400px; */
  /* flex-basis: 400px; */
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 8px;
  /* margin-right: 10px; */
  min-width: 100px;
  flex: 1;
  height: 34px;
  font-size: 15px;
}

.search button {
  padding: 5px 10px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  height: 34px;
  background-color: #444;
  /* margin-right: 30px; */
}

.search button:hover {
  background-color: #333;
  color: #3498db;
}

@media screen and (max-width: 768px) {
  .appbar {
    flex-direction: column;
    gap: 10px;
    height: auto;
    /* justify-content: flex-start */
    align-items: flex-start;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* flex-shrink: 0; */
    /* flex-basis: 340px; */
    gap: 20px;
    /* flex: 0 0 auto; */
    margin-right: 30px;
    /* flex-wrap: wrap; */
    flex: 1 1;
  }

  .search {
    /* flex-basis: 100%; */
    min-width: 100%;
    justify-content: center;
    max-height: 50px;
    flex: 1 1 auto;
  }

  .search input {
    width: 100%;
    /* max-width: 400px; */
    /* flex-basis: 400px;
        padding: 8px;
        border: 1px solid #ddd;
        border-radius: 8px;
        margin-right: 10px; 
        min-width: 100px;
        flex: 1;
        height: 34px;
        font-size: 15px; */
    flex: 1;
  }
}
