.loading-indicator {
    display: none;
    text-align: center;
    padding: 20px;
    font-weight: bold;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin: 0 auto 10px auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* .movie-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 20px auto;
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */

/* .movie-details-image {
    padding: 20px;
} */

/* .movie-details-content {
    padding: 20px;
    text-align: center;
} */

.container {
    background-color: black;
}

.movieContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* background-color: black; */
    /* height: 92vh; */
    /* flex-wrap: wrap; */

    padding: 10px 70px;
    /* max-width: 800px; */
    /* margin: 20px auto; */
    /* background-color: #ff0000; */
    /* border-radius: 8px; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    gap: 100px;
}

/* .movie-details-image img {
     flex: 0 0 40%;
} */

.titleImage {
    /* max-width: 100%; */
    /* height: 100%; */
    /* flex: 1; */
    width: 303px;
    /* border: 1px solid #ddd; */
    border-radius: 10px;
    aspect-ratio: 2/3;
}
.movieDetails {
    flex: 1;
    text-align: left;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-size: medium;
}

.movieDetails h1 {
    font-size: 80px;
    margin-bottom: 40px;
    /* color: #3498db; */
}

.trailer {
    background-color: #3498db;
    width: 50%;
    border-radius: 5px;
    padding: 10px 14px;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.trailer:hover {
    background-color: #2e87c3;
    cursor: pointer;
}
.movieDetails h3 {
    font-size: 40px;
    color: #3498db;
    /* margin-bottom: 100px; */
}

.data {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 200px;
    justify-content: start;
}

.people {
    display: flex;
    gap: 30px 200px;
    flex-wrap: wrap;
    /* justify-content: start; */
}

/* .recommended {
    margin: auto;
    margin-top: 50px;
} */

/* 
@media screen and (min-width: 768px) {
    .movie-details-container {
        flex-direction: row;
        align-items: flex-start;
    }

    .movie-details-image {
        flex: 0 0 40%;
    }

    .movie-details-content {
        flex: 1;
        text-align: left;
    }
} */

@media screen and (max-width: 768px) {
    /* .top-bar {
        flex-wrap: wrap;
    } */
    /* .trailer {
        align-items: center;
    } */
    .movieDetails {
        align-items: center;
    }
    .movieContainer {
        /* display: flex; */
        /* padding-top: 30px; */
        flex-direction: column;
        align-items: center;
        padding: 50px 50px;
        /* max-width: 800px; */
        /* margin: 20px auto; */
        /* background-color: #333; */
        /* border-radius: 8px; */
        /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    }

    .titleImage {
        padding: 20px;
    }

    .movieDetails {
        flex: 1;
        text-align: left;
        color: white;
        display: flex;
        flex-direction: column;
        gap: 30px;
        font-size: medium;
        text-align: center;
        /* align-content: center; */
    }

    .movieDetails h1 {
        text-align: center;
        font-size: 55px;
        margin-bottom: 40px;
        /* color: #3498db; */
    }

    .movieDetails img {
        /* max-width: 100%; */
        /* height: 100%; */
        flex: 1;
        /* border: 1px solid #ddd; */
        border-radius: 10px;
        max-width: 303px;
        aspect-ratio: 2/3;
    }

    .movieDetails h3 {
        font-size: 32px;
        color: #3498db;
        /* margin-bottom: 100px; */
    }
    .data {
        display: flex;
        /* align-items: center; */
        flex-wrap: wrap;
        gap: 30px 100px;
        justify-content: center;
    }

    .people {
        display: flex;
        gap: 30px 100px;
        flex-wrap: wrap;
        justify-content: center;
    }
}
