.container {
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 92vh;
    gap: 100px;
    /* justify-content: center; */
    align-items: center;
}

/* .container video {
    Fmargin-top: 30px; 
} */

.container h1 {
    margin-top: 50px;
    font-size: 60px;
    color: #3498db;
}
