.searchBar {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.searchBar input {
    width: 90%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    min-width: 100px;
    height: 34px;
    font-size: 15px;
    display: none;
}

.searchContainer {
    /* margin-top: 2rem; */
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}
.searchContainer > div > h3 {
    color: white;
    width: 90%;
    margin: auto;
    font-size: 3rem;
}
.hidden {
    display: none;
}

@media screen and (max-width: 770px) {
    .searchBar input {
        display: block;
    }
}
