.movieList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 2.5em;
    justify-self: stretch;
    /* display: flex;
    row-gap: 3em;
    flex-wrap: wrap;
    column-gap: 2em; */
    padding-top: 20px;
    margin: auto;
    width: 90%;
}

.movieListContainer {
    background-color: black;
}

.notFound {
    color: #ffee66;
    font-size: 2rem;
    /* text-align: center; */
    margin: 0 auto;
    margin-top: 4rem;
}

/* @media screen and (max-width: 710px) {
    .movieList {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
         grid-gap: 1.8rem; 
    }
} */

@media screen and (max-width: 400px) {
    .movieList {
        grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
        grid-gap: 1.3rem;
    }
}
