.movieList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 2.5em;
    justify-self: stretch;
    /* display: flex;
    row-gap: 3em;
    flex-wrap: wrap;
    column-gap: 2em; */
    padding-top: 20px;
    margin: auto;
    width: 90%;
}

.movieListContainer {
    background-color: black;
}

.notFound {
    color: white;
    font-size: 3rem;
    /* text-align: center; */
    margin: 0 auto;
    margin-top: 4rem;
}
