.rail {
    display: flex;
    gap: 20px;
    margin: auto;
    align-items: center;
}

.recommended {
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.recommended h2 {
    color: #3498db;
    font-size: 32px;
}

@media screen and (max-width: 768px) {
    .rail {
        display: flex;
        gap: 20px;
        margin: auto;
        align-items: center;
        flex-direction: column;
    }
}
